<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-3"><%= @team.name %></h4>
    <p class="lead"><%= @team.season %> <%= @team.year %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          Next Game
          4/26 @ 4:00 PM
        </div>
        <div class="card-block">
          <h3>Holy Boys</h3>
          <h6>Tom Brown - Field 4</h6>
        </div>
      </div>
    </div>
  </div>
</div>

