
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Blood, Sweat, &amp; Beers</h1>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Schedule</h4>
          <p class="card-text">Current Steak: Won 4</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item justify-content-between">
            The Threat
            <span class="badge badge-default badge-pill">W 29-24</span>
          </li>
          <li class="list-group-item justify-content-between">
            Holy Boys
            <span class="badge badge-default badge-pill">W 13-9</span>
          </li>
          <li class="list-group-item justify-content-between">
            Warriors
            <span class="badge badge-default badge-pill">W 1-0</span>
          </li>
          <li class="list-group-item justify-content-between">
            The Jokers
            <span class="badge badge-default badge-pill">W 32-13</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

