/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "./variables";

.main-content {
  position: fixed;
  overflow-y: scroll;
  left: 250px;
  right: 0;
  top: 0;
  bottom: 0;
}

.view-settings {
  display: flex;
  flex-direction: row-reverse;
  padding: 1em;
  button {
    background: transparent;
    border: 1px solid $black;
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 15px;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.main-nav {
  background: $black;
  bottom: 0;
  color: $white;
  position: fixed;
  top: 0;
  width: 250px;
  a { color: $white; }
  &__divider {
    text-transform: uppercase;
    background-color: #333;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 1px;
    height: 40px;
    line-height: 40px;
  }
  &__header {
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__current-team {
    &--nav a {
      border-bottom: 1px solid #333;
    }
  }
  &__team-list {}
  &__settings {}
}

.team-dashboard {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}
.team-nav {
  display: flex;
  background: #333;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  a { color: white; }
  &--links {
    display: flex;
    a {
      display: flex;
      text-transform: uppercase;
      margin-right: 15px;
      letter-spacing: 1px;
      font-size: 0.875em;
      height: 40px;
      line-height: 40px;
    }
  }
  &--settings {
    display: flex;
    color: white;
  }
}