@import "./variables";

.main-nav {
  background: $black;
  bottom: 0;
  color: $white;
  position: fixed;
  top: 0;
  width: 250px;
  a { color: $white; }
  &__divider {
    text-transform: uppercase;
    background-color: #333;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 1px;
    padding: 5px 0;
  }
  &__header {
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #333;
  }
  &__current-team {
    &--nav a {
      border-bottom: 1px solid #333;
    }
  }
  &__team-list {}
  &__settings {}
}