<div class="view-settings">
  <button><i class="fa fa-check" aria-hidden="true"></i> Roll Call</button>
  <button><i class="fa fa-comment-o" aria-hidden="true"></i> Send Team Message</button>
</div>

<div class="item-wrap">
  <% @team.members.each do |member| %>
    <div class="item">
      <div><%= member.user.first_name %></div>
      <div><%= member.user.last_name %></div>
      <div><%= member.user.phone_number %></div>
      <div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Edit
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Send Message</a>
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Delete</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
